
/* .tot{
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;


    display: grid;
    grid-gap: 30px;
} */




 #principal{
    display:grid;
} 

.gridd {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 100px;

}

/* @media screen and (max-width:1900) {
    .gridd {
        grid-template-columns: 400px 400px 400px;
    }
}

@media screen and (max-width:1080) {gi    .gridd {
        grid-template-columns: 400px 400px;
    }
}

@media screen and (max-width:414) {
    .gridd {
        grid-template-columns: 400px;
    }
} */

img{
    width: 200px;
    height: 200px;
}

.dimg {
    
    height: 240px;
    width: 200px;
    background-color: blue; 
    font-family: sans-serif;
    font-size: x-large;
    text-align: center;
    border-radius: 20%;
    
     } 
span {
    background-color: aliceblue;
}

